@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}
/*banner section*/
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.banner-container img{
    width: 100%;
    margin-top: 40px;
}
/*four image*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
.four-image-container{
    display: flex;
    align-items: center;
}
.four-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.four-image-written{
    padding-left: 75px;
    padding-right: 75px;
}
.quick{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.primary-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.komola{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
#mbt{
    margin-bottom: 24px;
}
/*feature section*/
.feature-container{
    margin-top: 70px;
    display: flex;
    gap: 50px;
}
#feat{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 30px;
}
.feature-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 35px 42px 10px 42px;
    margin-bottom: 40px;
}
.feature-card-title{
    margin-bottom: 20px;
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.ten-year-badge-pic img{
    margin-left: 80px;
}
.ten-year-badge{
    border-radius: 8px;
    background: #FF900E;
    width: 250px; 
    padding: 40px 30px;
    position: relative;
    bottom: 100px;
}
.ten-year-badge-title{
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    margin: 0;
    font-weight: 700;
}
.ten-year-badge-description{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
/*card section*/
#sfacts{
    margin-bottom: 24px;
}
.card-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 80px;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E; 
    padding: 50px 40px;
}
.card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}
/*sponsors section*/
.sponsors{
    text-align: center;
    margin-top: 50px;
}
#spons{
    margin-bottom: 20px;
}
.sponsors-container{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/*Footer*/
footer{
    max-width: 1440px;
    margin: 70px auto;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 30px 0;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
}

/*responsive styles*/
@media screen and (max-width:576px) {
    header,
    .sponsr,
    .some-facts-container,
    .four-image-written{
        padding: 20px;
    }
    .sponsors-container,
    .card-content,
    .feature-container,
    .four-image-container,
    nav{
        flex-direction: column;
    }
    .ten-year-badge-pic img{
        max-width: 375px;
        margin-left: 0;
    }
    .four-image-content{
        grid-template-columns: 1fr;
    }
    .ten-year-badge{
        position: static;
        max-width: 280px;
    }
    #spnsr-two{
        padding-left: 50px;
        padding-right: 50px;
    }
}

/*responsive for medium device*/
@media screen and (min-width:576px) and (max-width:992px) {
    .sponsors-container,
    .card-content,
    .feature-container,
    .four-image-container,
    nav{
        flex-direction: column;
    }
    header,
    .some-facts-container,
    .four-image-written{
        padding: 20px;
    }
    #spnsr-two{
       padding-left: 180px;
       padding-right: 180px; 
    }
}

